modules = ["nodejs-20"]
run = "npm run start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[workflows]
runButton = "Start Development"

[[workflows.workflow]]
name = "Start Development"
author = 45837327
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "curl -sSL https://dot.net/v1/dotnet-install.sh | bash /dev/stdin --channel 8.0 && export PATH=\"$HOME/.dotnet:$PATH\" && cd VMS.Backend && dotnet run"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"

[[ports]]
localPort = 8081
externalPort = 80
